body {
    background: #FFFFFF;
}

header {
    text-align: center;
    background: #000000;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}


th {
    height: 50px;
}