nav ul {
    display: flex;

    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    flex: 1;
}

nav a {
    display: block;

    border: 0.5rem solid #38ff0e;
    padding: 0.2rem;

    background: #38ff0e;
    text-align: center;

    color: #ffffff;
    text-decoration:none;
}

nav a:hover {
    text-decoration:underline;
}

nav a.current_page {
    color: white;
    background: #000000;
    text-decoration:none;
}