{% extends '_base.html.twig' %}

{# ----------------------------------------#}
{% block title %}
    about page
{% endblock %}

{# ----------------------------------------#}
{% block aboutNavStyle %}current_page{% endblock %}

{# ----------------------------------------#}
{% block main %}
    <h1>This is for CDM students, lecturers and employers</h1>
    <p>
        hello {{ name }}
    </p>

{% endblock %}