{% extends '_base.html.twig' %}

{# ----------------------------------------#}
{% block title %}
    contact page
{% endblock %}

{# ----------------------------------------#}
{% block contactNavStyle %}current_page{% endblock %}

{# ----------------------------------------#}
{% block main %}
    <h3>Student B00073701</h3>
    <h3>ITB</h3>
    <p>
        hello {{ name }}
    </p>

{% endblock %}