{% extends '_employerBase.html.twig' %}

{# ----------------------------------------#}
{% block title %}
    Employer View page
{% endblock %}

{# ----------------------------------------#}
{% block indexNavStyle %}{% endblock %}

{# ----------------------------------------#}
{% block main %}

    <h3>Employer view</h3>
        <p>
            {{ name }} employer is logged in..
        </p>
    <h3>Send Job To lecturer</h3>
    <form method="post" action="/empSendJobDetails">
        <p>
            Job Title
            <input type="text" name="jobTitle" autofocus >
        </p>
        <p>
            Details about job
            <textarea name="textareaJobDetails" rows="15" cols="40"  wrap="hard" ></textarea>
        </p>
        <p>
            Employer ID
            <input type="text" name="empId" value = {{ id }}>
        </p>
        <input type="submit" value="Send Job Details" >
    </form>
{# donwload  all CV of students when deadline expires #}

{% endblock %}