{% extends '_base.html.twig' %}

{# ----------------------------------------#}
{% block title %}
    home page
{% endblock %}

{# ----------------------------------------#}
{% block indexNavStyle %}current_page{% endblock %}

{# ----------------------------------------#}
{% block main %}
    <h1>Welcome to the CDM home page</h1>
    <p>
        hello {{ name }}
    </p>

{% endblock %}
