{% extends '_base.html.twig' %}

{# ----------------------------------------#}
{% block title %}
   login page
{% endblock %}

{# ----------------------------------------#}
{% block loginNavStyle %}current_page{% endblock %}

{# ----------------------------------------#}
{% block main %}
<p>
    {{ message }}
</p>
    <form method="post" action="loginAction" name="login">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" />
        <br>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" />
        <br>
        <br>
        <button type="submit" name="submit">login</button>
    </form>

{% endblock %}