{% extends '_employerBase.html.twig' %}

{# ----------------------------------------#}
{% block title %}
    View CV's
{% endblock %}


{# ----------------------------------------#}
{% block main %}
    <p>
        {{ name }} is logged in..
    </p>
    <h3>View CVs</h3>
<form method="post" action="/openPDF">
    <table>
        <tr>
            <th>student id</th>
        </tr>
        {% for cv in cvs if cv.employerid == id %}
        <tr>
            <td> {{ cv.studentid }} -
                {% for job in jobs if job.employerid == id %}
                    {% if timeNow > job.deadline  %}
                        <input type="submit" name="pdfBtn"  value="{{ cv.studentid }}.pdf" />
                        {% else %}
                            <input type="submit" name="pdfBtn" disabled value="{{ cv.studentid }}.pdf" />
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
</form>
{% endblock %}
